<!DOCTYPE html>
<html>
<head>
  <title>404</title>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/javascripts/semantic.min.js"></script>
  <link rel='stylesheet' href='/stylesheets/semantic.min.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
  <div class="ui container">
    <h1 class="text-center" style="font-size:150px; font-weight:800;">404</h1>
    <p>
        The Page you requested does not exist.
    </p>
    <a href="/customers/">Go Home</a>
  </div>
</body>
</html>