<title><%= title %></title>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="/javascripts/semantic.min.js"></script>
<link rel='stylesheet' href='/stylesheets/semantic.min.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />