<!DOCTYPE html>
<html>
<head>
    <% include partials/header %>
</head>
<body>

  <div class="ui fixed inverted menu">
    <div class="ui container">
      <a href="#" class="header item">
        <img class="logo" src="/images/express.png"> 
        EXPRESS CRUD
      </a>
      <a href="/" class="item">Home</a>
      <a href="/customers" class="item">Customer List</a>
      <a href="/customers/add" class="item">New Customer</a>
    </div>
  </div>
  
  <div class="ui container">
    <% if (messages.error) { %>
      <div class="ui ignored error message"><%- messages.error %></div>
    <% } %>
    <form action="/customers/update/<%= id %>" method="post" name="form1">
      <div class="ui inverted segment">
        <div class="ui inverted form">
          <div class="two fields">
            <div class="field">
              <label>Name</label>
              <input placeholder="Name" type="text" name="name" id="name" value="<%= name %>">
            </div>
            <div class="field">
              <label>Email</label>
              <input placeholder="Email" type="email" name="email" id="email" aria-describedby="emailHelp" value="<%= email %>">
            </div>
          </div>
          <input class="ui submit button" type="submit" value="Update" />
        </div>
      </div>
    </form>
  </div>

</body>
</html>